#banner
  .banner_content
    %h1 File Cabinet
    %p Your lif's work. organize, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p orem ipsum dolor amet asymmetrical humblebrag plaid enamel.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path