// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials/variables";
#banner {
  background-image: url(image_path("welcome_banner_image.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  min-height: 500px;
  display: table;
  .banner_content {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      h1 {
          @include bold_font;
          color: #529ECC;
          font-size: 3.5rem;
          margin: 0;
      }
      p {
          font-size: 1.5rem;
          margin: 0 0 2.5rem 0;
          color: rbga(82,158,204,0.6);
       }
  }
}
#testimonial{
    text-align: center;
    font-size: 1.5 rem;
    color: #afb0b0;
    padding: 3.5rem 0;
    .quote {
        margin: 0 0 0.5rem 0;
    }
    .name {
        color: darkgray;
        margin: 0;
        font-size: 0.85rem;
    }
}
#callouts {
    background-image: url(image_path("callout_background.jpg"));
    background-size: cover;
    background-repeat: no-repeat;

}
body{
    font-family:'Arial', sans-serif;
    background:$background-color;
    line-height:1.6em;
  }
  .navbar{
    overflow:auto;
    min-height:100px;
    background:$primary-color;
    color:#fff;
    font-size:18px;
    border:0;
    border-radius:0;
  }
  .head{
    color:#fff !important;
  }
  .title{
    border: 1px #ccc solid;
    background: #fff;
    margin-bottom: 30px;
  }
  .navbar h1{
    margin:10px 0 0 0;
    padding:0;
  }
  .navbar a{
    color:#fff !important;
  }
  .navbar a:hover{
    color:#ff953f;
  }
  .navbar a.navbar-brand:hover{
    color:#fff !important;
  }
  .navbar ul{
    margin-top:22px;
  }
  .navbar-default .navbar-nav> .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active> a:focus{
  background: none;
  color:$secondary-color !important;
  }
  .search-form{
    margin-top:30px;
  }
  .search-form input[type='text']{
    border-radius:0;
    height: 38px;
  }
  .search-form .form-group{
    display: inline-block;
    margin-bottom:0;
    vertical-align: middle;

  }
  .search-form .btn{
    border: 0;
    height: 38px;
    margin-top: 0;
    border-radius: 0;
    margin-left: 5px;
  }
  .search-form .form-control{
   border: none;
   border-radius:0;
  }
  .btn{
    border: 1px #ccc solid;
    background: rgb(167, 51, 51);
  }
  .btn-primary{
    background:$primary-btn-color;
  }
  .btn-success{
    background:rgb(17, 131, 51);
  }
  .btn:hover{
    background: #ccc;
  }

  .post{
    border: 1px #ccc solid;
    background: #fff;
    margin-bottom: 30px;
  }
  .post img{
    width: 100%;
  }
  .post-content{
  padding: 20px;
  box-sizing: border-box;
  }
  .post h3{
    margin: 0;
    padding: 0;
  }
  small{
  background: $primary-color;
  color: #fff;
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
  }
  .post .btn{
    display: block;
    margin-top: 20px;
  }
  .comments img{
    width:100%;
  }
  footer{
  background: $primary-color;
  color: #fff;
  text-align: center;
  height: 60px;
  padding-top: 20px;
  margin-top:30px;
  }